<%- include('../partials/functions') %>
<h1 class="mt-4">Dashboard</h1>
<div class="d-flex justify-content-center"></div>
<form action="/dashboard/" method="GET">
    <legend>Select Search Options</legend>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label for="sourceIP">Source IP</label>
        <input type="text" name="source_ip" class="form-control mb-2" id="source_ip" placeholder="Source IP">
      </div>
      <div class="col-auto">
        <label for="netIP">NAT IP</label>
        <input type="text" name="NAT_ip" class="form-control mb-2" id="NAT_ip" placeholder="NAT IP">
      </div>

      <div class="col-auto">
        <label for="destinationIP">Destination IP</label>
        <input type="text" name="destination_ip" class="form-control mb-2" id="destination_ip" placeholder="destination IP">
      </div>
      <div class="col-auto form-group">
        <label for="month">Select Month</label>
        <select class="form-control" id="month" name="month">
          <option value="" selected>Not Selected</option>
          <option value="Jan">January</option>
          <option value="Feb">February</option>
          <option value="Mar">March</option>
          <option value="Apr">April</option>
          <option value="May">May</option>
          <option value="Jun">June</option>
          <option value="Jul">July</option>
          <option value="Aug">August</option>
          <option value="Sep">September</option>
          <option value="Oct">October</option>
          <option value="Nov">November</option>
          <option value="Dec">December</option>
        </select>
      </div>
      <div class="col-auto form-group">
        <label for="day">Select Day</label>
        <select class="form-control" id="day" name="day">
          <option value="" selected>Not Selected</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
  </form>
</div>


<div class="d-flex justify-content-center"></div>

<div class="container">
  <legend>Logs</legend>
  <% if (typeof logs != 'undefined' && check_object_empty(logs) == false) { %>
<table class="">
    <thead>
      <tr class="table-primary">
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Pop Name</th>
        <th scope="col">Source</th>
        <th scope="col">Mac</th>
        <th scope="col">Protocal</th>
        <th scope="col">Source IP</th>
        <th scope="col">Source Port</th>
        <th scope="col">Nat IP</th>
        <th scope="col">Nat Port</th>
        <th scope="col">Destination IP</th>
        <th scope="col">Destination Port</th>
      </tr>
    </thead>
    
    <tbody> 
     
        <% logs.forEach(log => { %>
      <tr class="table-light">
          <td><%= log.month + ' ' + log.day %> </td>
          <td><%= log.time %></td>
          <td><%= log.pop_name %></td>
          <td><%= log.source %></td>
          <td><%= log.mac %></td>
          <td><%= log.protocal %></td>
          <td><%= log.source_ip %></td>
          <td><%= log.source_ip_port %></td>
          <td><%= log.NAT_ip %></td>
          <td><%= log.NAT_ip_port %></td>
          <td><%= log.destination_ip %></td>
          <td><%= log.destination_ip_port %></td>
      </tr>
      <% }) %>
      
     
    </tbody>
    
  </table>
  <% } else {%>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Sorry !!</h4>
      <p>No data found with your serach parameters. Try different serach please.<a href="/dashboard"> Go to DashBoard</a></p>
      </div>
  <% }%>
  <%- include('../partials/pagination') %>
</div>
  

